{% extends "layout.html" %}

{% block body_content %}
    <!-Main Content Wrapper -->
    <div class="content-wrapper">
        <!-- Text content on the left side -->
        <div class="text-content">
            <h2>Alongside our Sky zero initiative to restore and protect Carbon sinks and Sky Ocean Rescue to reduce plastic contaminants in the ocean, it is our <span>responsibility</span> as a business to reduce our environmental footprint within our own premises to make the necessary step forward to achieving a <span>sustainable</span> world for all to enjoy.</h2>
        </div>

        <!-- Image on the right side -->
        <div class="fixed-image">
            <img src="Images/SkySustain.jpeg" alt="Isaiah profile">
        </div>
    </div>

    <!-- Rest of your content... -->
    <div class="grid text-center my-4">
        <div class="row">

        </div>
    </div>
{% endblock %}

